@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    
}

li  {
    list-style: none;
    
}

a {
    cursor: pointer;
}

button {
  cursor: pointer;
}

body{
    font-family: 'Poppins', sans-serif;
}   

.header {
    background-color: #F3F4F5;
  
    
}

.navbar {
    width: 100%;
    height: 7vh; 
    display: flex;
    align-items: center;
    justify-content: space-between; 
    z-index: 10; 
    position: fixed; 
    top: 0; 
    left: 0;
    background-color: rgba(243, 244, 245, 0.8); 
    backdrop-filter: blur(10px); 
    transition: all 0.3s ease-in-out;
    padding-top: 10px;
}

.nav-logo {
    padding-left: 20vh;
    font-size: 30px;
    color: #000;
}


.nav-menu {
  padding-right: 60px;
  display: flex;    
}

.nav-item { 
    padding: 0 10px; 
}

.nav-link {
    color: black; 
    text-decoration: none; 
    font-size: 14px;
}

.nav-link:hover {
    color: #333;
    background-color: white;
}

.nav-link.active {
    color: blue;
}

.download-cv {
  margin-top: 20px;
  margin-left: 20vh;
}

.download-cv button {
  gap: 5px;
  padding: 10px;
  display: flex; 
  align-items: center;
  background-color: #10439F;
  color: white;
  border-radius: 20px;
  border: none;
}

.hamburger {
    display: none; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
} 

.Home {
  width: 100%;
  height: 690px;

}
.Text {
    padding-top: 25vh;
    margin-left: 20vh;
    position: relative;
}

.Text p {
    margin-top: 10px;
    font-size: 14px;
}

.Photo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; 
    margin-top: 25vh;
    margin-left: 140vh;
}

.photoo_1 {
    width: 40vh;
    border-radius: 50%;
}

.social-media {
    margin-top: 28px;
    margin-left: 20vh;
}

.social-link {
    display: flex;
}

.logo-home {
    padding: 0 5px;
}

.wave {
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    height: auto;
    padding-top: 40px;
}

.About {
    width: 100%;
    background-color: white;
    margin-bottom: 200px;
}

.sec-isi {
    font-size: 20px;
    text-align: center;
    justify-content: center;
    padding-top: 2vh;
    margin-bottom: 70px;
}

.wajah  {
    display: flex;
    text-align: left;
    background-color: #273036;
    width: 1256px;
    margin: auto;
    border-radius: 20px;
    color: white;
}

.wajah p {
    padding-top: 70px;
    padding-right: 50px;  
}

.about-photo {
  padding: 0px 70px;
  padding-top:  15px;
  width: 40vh;
  border-radius: 50%;
}


.porto {
    margin-bottom: 200px;
}

.tittle {
    margin-bottom: 80px;
    text-align: center;
}

.img-skill {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 5px;
    overflow-x: auto;
    margin-left: 50px;
    margin-top: 30px; 
}

.img-skill-issue {
    width: 400px;
    height: 300px;
    z-index: -1;
    position: relative;
}

.container-skill {
    padding-top: 40px;
    background-color: #fff;
    text-align: center;
    padding: 70px;
    color: black;
    margin-bottom: 130px;
}

.header-skill {
    font-family: 'Roboto', sans-serif;
}

.header-skill p:nth-child(1) {
    margin-top: 10px;
}

.header-skill p:last-child {
    margin-top: 10px;
}

.skill {
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    text-wrap: wrap;
}

.card-skill {
    background-color: #10439F;
    width: 200px;
    height: 250px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    transition: 0.2s ease;
    height: auto;
}

.card-skill:hover {
    transform: translateY(-10px);
    color: #fff;
}

.icon-skill {
    font-size: 70px;
}

.desc-skill h2 {
    font-size: 16px;
}

.desc-skill p {
    font-size: 13px;
    margin-top: 10px;
}


.contact {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-row: 1/4; 
    margin-bottom: 150px;

}

.contact-text {
    display: flex;
    padding-left: 150px;
    padding-bottom: 30px;

}

.gmail {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 150px;
    padding-bottom: 30px;
}
.gmail1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 150px;
    padding-bottom: 30px;
}

.name {
    display: grid;
    grid-template-rows: repeat(3, 0.5fr); 
    margin-bottom: 10px;
}

.name-textt {
    padding-left: 30px;
    width: 450px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: #273036;
    color: #fff;
}

.name-text3 {
    padding-left: 30px;
    width: 450px;
    height: 140px;
    border-radius: 10px;
    border: none;
    background-color: #273036;
    color: #fff;  
    text-align: start;
    vertical-align: top; /* Mengatur posisi vertikal ke atas */
    line-height: 1; /* Menghapus spasi tambahan */
}

.button {
    width: 16%;
    height: 30px;
    margin-top: 20px;
    background-color: #10439F;
    color: white;
    border: none;
    border-radius: 15px;
    font-weight: bold;
}