@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    
}

li  {
    list-style: none;
    
}

a {
    cursor: pointer;
}

body{
    font-family: 'Poppins', sans-serif;
}   

.header {
    background-color: #F3F4F5;
  
    
}

.navbar {
 width: 100%;
    height: 7vh; 
    display: flex;
    align-items: center;
    justify-content: space-between; 
    z-index: 10; 
    position: fixed; 
    top: 0; 
    left: 0;
    background-color: rgba(243, 244, 245, 0.8); 
    backdrop-filter: blur(10px); 
    transition: all 0.3s ease-in-out;
}

.nav-logo {
    padding-left: 20vh;
    font-size: 35px;
    color: #19A7CE;
}


.nav-menu {
  padding-left: 680px;
  display: flex;    
}

.nav-item {
    padding: 0 15px; 
}

.nav-link {
    color: black; 
    text-decoration: none; 
    font-size: 15px;
}

.nav-link:hover {
    color: #333;
    background-color: white;
}

.nav-link.active {
    color: blue;
}

.hamburger {
    display: none; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
} 

.Home {
  width: 100%;
  height: 690px;

}
.Text {
    padding-top: 25vh;
    margin-left: 20vh;
    position: relative;
}

.Text p {
    margin-top: 10px;
    font-size: 14px;
}

.Photo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; 
    margin-top: 25vh;
    margin-left: 140vh;
}

img {
    width: 40vh;
    border-radius: 50%;
}

.social-media {
    margin-top: 28px;
    margin-left: 20vh;
}

.social-link {
    display: flex;
}

.logo-home {
    padding: 0 5px;
}

.wave {
      position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    height: auto;
    padding-top: 50px;
}

.About {
    margin-top: 10px;
    width: 100%;
    height: 100vh;
    background-color: white;
}

.sec-isi {
    font-size: 19px;
    text-align: center;
    justify-content: center;
    padding-top: 2vh;
}

.wajah  {
    display: flex;
    text-align: left;
}

.wajah p {
    padding-top: 90px;
    padding-right: 50px;
    font-size: 12px;

}

.about-photo {
  padding: 0px 70px;
  padding-top:  15px;
}

.tittle-education {
    margin-top: 20vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;

}

.tittle-education h1 {
    font-size: 25px;
}

.section-education{
    background-color: #F3F4F5;
    padding-top: 20px;
    padding-bottom: 240px;
}

.education-wrapper {
    display: flex;
    justify-content: flex-start; 
    padding: 1rem; 
    align-items: center;
    margin-left: 25vh;
    margin-bottom: 4rem;
}

.contain-education {
    padding: 1.5rem;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
    width: 35%; 
    margin: 0 1rem; 
}

.contain-education h2 {
    font-size: 1.125rem; 
}

.result p {
    margin-top: 0.625rem;
    font-size: 0.75rem; 
    text-align: left;
    align-items: start;
}


.skills-section {
  margin-bottom: 10px;
  padding-top: 20px;
}

.skills__container {
  margin-top: 10vh;
  display: flex;  
  flex-direction: row;  
  justify-content: center;  
  align-items: center;   
  text-align: left;  
  padding-left: 10px;  
  margin-bottom: 100px;
}
.skills__subtitle {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
.skills__text {
  margin-bottom: 2rem;
  font-size: 12px;
}
.skills__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: 600;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  width: 80%;
}
.skills__icon {
  font-size: 2rem;
  margin-right: 1rem;
  color: #23adea;
}
.skills__names {
  display: flex;
  align-items: center;
}
.skills__bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #23adea;
  height: 0.25rem;
  border-radius: 0.5rem;
  z-index: -10;
}
.skills__html {
  width: 95%;
}
.skills__css {
  width: 70%;
}
.skills__js {
  width: 65%;
}
.skills__ux {
  width: 85%;
}
.skills__img {
    margin-left: 30px;
    gap: 10px;
  border-radius: 0.5rem;
  width: 400px;
}


.footer {
  background-color: #0D1730;
  color: #fff;
  text-align: center;
  font-weight:  2rem;
  padding: 2rem 0;
}
.footer__title {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.footer__social {
  margin-bottom: 2rem;
}
.footer__icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 1rem;
}
.footer__copy {
  font-size: .75rem;
}

@media screen and (max-width: 788px) {
    .nav-menu {
        display: none; 
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        background: rgba(243, 244, 245, 0.9);
        padding: 1rem;
        top: 7vh;
        left: 0;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .hamburger {
        display: flex;
    }
}